<h1>USER DETAILS</h1>
<table border=1>
<tr><th>Username</th>
<th>First Name</th>
<th>Last Name</th>
<th>Address1</th>
<th>Address2</th>
</tr>
<% userinfo.Count_user.forEach(function (users) { %>
<tr>
<td><%= users.username %></td>
<td><%= users.fname %></td>
<td><%= users.lname %></td>
<% userinfo.Count_user2.forEach(function (useradd) { %>
<td><%= useradd.address1 %></td>
<td><%= useradd.address2 %></td>
<% }); %>
</tr>
<% }); %>
</table>